nav.iconav
    a.iconav-brand(href='index.html')
        span.icon.icon-cloud.iconav-brand-icon
    .iconav-slider
        ul.nav.nav-pills.iconav-nav.flex-md-column
            li.nav-item
                a.nav-link.active(href='index.html', title='', data-toggle='tooltip', data-placement='right', data-container='body', data-original-title='返回首頁')
                    span.icon.icon-home
                    small.iconav-nav-label.hidden-md-up 返回首頁
            li.nav-item
                a.nav-link(href='section01.html', title='', data-toggle='tooltip', data-placement='right', data-container='body', data-original-title='利潤試算')
                    span.icon.icon-calculator
                    small.iconav-nav-label.hidden-md-up HD/PD利潤試算
            li.nav-item
                a.nav-link(href='section02.html', title='', data-toggle='tooltip', data-placement='right', data-container='body', data-original-title='投資損益')
                    span.icon.icon-globe
                    small.iconav-nav-label.hidden-md-up HD/PD投資損益
            li.nav-item
                a.nav-link(href='section03.html', title='', data-toggle='tooltip', data-placement='right', data-container='body', data-original-title='投資回收試算')
                    span.icon.icon-area-graph
                    small.iconav-nav-label.hidden-md-up HD/PD投資回收試算
            li.nav-item
                a.nav-link(href='section04.html', title='', data-toggle='tooltip', data-placement='right', data-container='body', data-original-title='病患留院率')
                    span.icon.icon-list
                    small.iconav-nav-label.hidden-md-up HD/PD病患留院率
