//- page laytout name
extends _layout.pug

block pageInfo
    title Baxter SOS系統 | HD/PD利潤試算
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
block page_main
    div.container
        div.col-md-12.mb-3
            div.dashhead
                div.dashhead-titles
                    h6.dashhead-subtitle 投資損益
                    h2.dashhead-title  投資明細
        div.col-lg-12.mb-3
            h6
                span.icon.icon-calculator
                |  投資明細
        div.table-responsive.col-lg-12.mb-5
            table.table.table.table-bordered.table-hover
                thead.table-active
                    tr
                        th(colspan="7")
                            span.text-success 新透析病人淨成長預估
                tbody
                    tr
                        td.mw-xsmd-150
                        td
                        td.mw-xsmd-150 第一年
                        td.mw-xsmd-150 第二年
                        td.mw-xsmd-150 第三年
                        td.mw-xsmd-150 第四年
                        td.mw-xsmd-150 第五年
                    tr
                        td 目前人數約
                        td 75
                        td 90
                        td 105
                        td 120
                        td 135
                        td 150
                    tr
                        td 淨成長病人數/年
                        td 
                        td 
                            input.form-control.text-left(type='text', placeholder='11')
                        td
                            input.form-control.text-left(type='text', placeholder='11')
                        td
                            input.form-control.text-left(type='text', placeholder='11')
                        td
                            input.form-control.text-left(type='text', placeholder='11')
                        td
                            input.form-control.text-left(type='text', placeholder='11')
                    tr
                        td 累計淨成長病人數
                        td 
                        td 90
                        td 105
                        td 120
                        td 135
                        td 150
                    tr
                        td 
                        td check
                        td OK
                        td OK
                        td OK
                        td OK
                        td OK
                    tr
                        td 預估點值(HD)
                        td 
                        td 
                            input.form-control.text-left(type='text', placeholder='11')
                        td
                            input.form-control.text-left(type='text', placeholder='11')
                        td
                            input.form-control.text-left(type='text', placeholder='11')
                        td
                            input.form-control.text-left(type='text', placeholder='11')
                        td
                            input.form-control.text-left(type='text', placeholder='11')
                    tr
                        td 預估點值(PD)
                        td 
                        td 
                            input.form-control.text-left(type='text', placeholder='11')
                        td
                            input.form-control.text-left(type='text', placeholder='11')
                        td
                            input.form-control.text-left(type='text', placeholder='11')
                        td
                            input.form-control.text-left(type='text', placeholder='11')
                        td
                            input.form-control.text-left(type='text', placeholder='11')
        //hd硬體設備
        div.table-responsive.col-12
            h6
                span.icon.icon-calculator
                |  HD
            table.table.table.table-bordered.table-hover
                thead.table-active
                    tr
                        th(colspan="4")
                            span.text-success 硬體設備
                tbody
                    tr
                        td.w-25
                        td.mw-xsmd-150 單價
                        td.mw-xsmd-150 數量
                        td.mw-xsmd-150 金額
                    tr
                        td.w-25 洗腎機
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='')
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='')
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='')
                    tr
                        td.w-25 床
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='')
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='')
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='')
                    tr
                        td.w-25 電視
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='')
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='')
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='')
                    tr
                        td.w-25(colspan="2")
                        td 總計
                        td 
                            h4.text-danger 655563
                    tr
                        td.w-25 折舊攤提
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='') 
                            | 年
                        td 
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='') 
                            | 每年
        //hd費用增加(人力)
        div.table-responsive.col-12
            table.table.table.table-bordered.table-hover
                thead.table-active
                    tr
                        th(colspan="8")
                            span.text-success 費用增加部份
                            span.text-danger (人力)
                tbody
                    tr
                        td(colspan="2").w-25
                        td.w-10 年薪/人
                        td(colspan="5") 預估增加數量
                    tr
                        td(colspan="2").w-25
                        td.mw-xsmd-150.w-10 (含相關福利)
                        td.mw-xsmd-150  第一年
                        td.mw-xsmd-150  第二年
                        td.mw-xsmd-150  第三年
                        td.mw-xsmd-150  第四年
                        td.mw-xsmd-150  第五年
                    tr
                        td(colspan="8")
                            span.text-danger 固定薪資
                    tr
                        td.mw-xsmd-100.w-25 醫師
                        td 
                        td 360000
                        td 1
                        td 0
                        td 0
                        td 0
                        td 0
                    tr
                        td.w-25 護理人員
                        td 100
                        td 360000
                        td 1
                        td 0
                        td 0
                        td 0
                        td 0
                    tr
                        td.w-25 醫工
                        td 
                        td 360000
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='') 
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='') 
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='') 
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='') 
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='') 
                    tr
                        td.w-25 行政人員
                        td 
                        td 360000
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='') 
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='') 
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='') 
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='') 
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='') 
                    tr
                        td.w-25 其他
                        td 
                        td 
                            input.col-md-12.form-control.text-left(type='text', placeholder='') 
                        td
                        td
                        td
                        td
                        td
                    tr
                        td(colspan="8")
                            span.text-danger 變動薪資(獎金)
                    tr        
                        td(colspan="2").w-25 醫師
                        td 250
                        td(colspan="5") /每病人次
                    tr        
                        td(colspan="2").w-25 護理人員/其他
                        td -
                        td(colspan="5") /每病人次
        //hd費用增加(金額)
        div.table-responsive.col-12
            table.table.table.table-bordered.table-hover
                thead.table-active
                    tr
                        th(colspan="6")
                            span.text-success 費用增加部份
                            span.text-danger (金額)
                    tr
                        td.mw-xsmd-100.w-20
                        td.mw-xsmd-150  第一年
                        td.mw-xsmd-150  第二年
                        td.mw-xsmd-150  第三年
                        td.mw-xsmd-150  第四年
                        td.mw-xsmd-150  第五年
                    tr
                        td.w-20 
                            span.text-danger 固定薪資
                        td 222222666
                        td 222222666
                        td 222222666
                        td 222222666
                        td 222222666
                    tr
                        td.w-20 醫師
                        td 222222666
                        td 222222666
                        td 222222666
                        td 222222666
                        td 222222666
                    tr
                        td.w-20 醫護人員
                        td 222222666
                        td 222222666
                        td 222222666
                        td 222222666
                        td 222222666
                    tr
                        td.w-20 
                            span.text-danger 變動薪資(獎金)
                        td 
                        td 
                        td 
                        td 
                        td 
                    tr
                        td.w-20 醫師
                        td 
                        td 
                        td 
                        td 
                        td 
        //成本
        div.col-lg-12.mb-5
            div.row
                div.col-lg-3.mb-3
                    .list-group-item.list-group-item-action.justify-content-between
                        small.delta-indicator.text-success 房屋租金
                    .list-group-item.list-group-item-action.justify-content-between
                        | (月)
                        span.text-muted 154,000
                div.col-lg-3.mb-3
                    .list-group-item.list-group-item-action.justify-content-between
                        small.delta-indicator.text-success 營運費用(水,電)
                    .list-group-item.list-group-item-action.justify-content-between
                        | (月)
                        input.col-md-4.form-control(type='text', placeholder='15')
                div.col-lg-3.mb-3
                    .list-group-item.list-group-item-action.justify-content-between
                        small.delta-indicator.text-success 行政管理費用
                    .list-group-item.list-group-item-action.justify-content-between
                        | (每病人次)
                        input.col-md-4.form-control(type='text', placeholder='15')
                div.col-lg-3.mb-3
                    .list-group-item.list-group-item-action.justify-content-between
                        small.delta-indicator.text-success 材料成本
                    .list-group-item.list-group-item-action.justify-content-between
                        | 藥材類 (人)
                        span.text-muted 534
                    .list-group-item.list-group-item-action.justify-content-between
                        | 藥品類 (人)
                        br
                        | (EPO,一般藥品等) 
                        span.text-muted 196
                    .list-group-item.list-group-item-action.justify-content-between
                        | 總計
                        span.text-muted 730
                div.col-lg-12.mb-3
                    div.list-group-item.list-group-item-action.justify-content-between
                        small.delta-indicator.text-success 利息支出
                    div.list-group-item.list-group-item-action.justify-content-between
                        | 貸款金額
                        input.col-md-4.form-control(type='text', placeholder='15')
                    div.list-group-item.list-group-item-action.justify-content-between
                        | 年利率%
                        input.col-md-4.form-control(type='text', placeholder='15')
                    div.list-group-item.list-group-item-action.justify-content-between
                        | 利息支出(年)
                        span.text-muted -
                //人力預估要求
                div.table-responsive.col-12
                    table.table.table.table-bordered.table-hover
                        thead.table-active
                            tr
                                th.w-20 人力需求預估參考
                                th 現況
                                th.mw-xsmd-50 第一年
                                th.mw-xsmd-50 第二年
                                th.mw-xsmd-50 第三年
                                th.mw-xsmd-50 第四年
                                th.mw-xsmd-50 第五年
                        tbody
                            tr
                                td.w-20 增加病人次(年)
                                td 937
                                td 1,125
                                td 3,375
                                td 5,625
                                td 7,875
                                td 10,125
                            tr
                                td.w-20 病床需求數(預估)
                                td 15
                                td 18
                                td 21
                                td 24
                                td 27
                                td 30
                            tr
                                td.w-20 醫師需求數(預估)
                                td 1
                                td 2
                                td 2
                                td 2
                                td 2
                                td 2
                            tr
                                td.w-20 護理人員需求數增加(預估)-累計
                                td 9
                                td 1
                                td 3
                                td 5
                                td 7
                                td 9
        div.col-lg-12.mb-3
            h6
                span.icon.icon-calculator
                |  PD
            div.row
                div.col-lg-12.mb-3
                    .list-group-item.list-group-item-action.justify-content-between
                        small.delta-indicator.text-success 硬體設備
                    .list-group-item.list-group-item-action.justify-content-between
                        | 金額
                        input.col-md-4.form-control(type='text', placeholder='15')
                    .list-group-item.list-group-item-action.justify-content-between
                        | 折舊攤提(年)
                        input.col-md-4.form-control(type='text', placeholder='15')
                    .list-group-item.list-group-item-action.justify-content-between
                        | 平均每年
                        h6.text-danger 1
        div.table-responsive.col-12
            table.table.table.table-bordered.table-hover
                thead.table-active
                    tr
                        th(colspan="8")
                            span.text-success 費用增加部份
                            span.text-danger (人事費用)
                tbody
                    tr
                        td.w-25 醫師
                        td 現況
                        td 第一年
                        td 第二年
                        td 第三年
                        td 第四年
                        td 第五年
                    tr
                        td.w-25 Time allocation to PD(增加%)
                        td 13.0%
                        td -3.4%
                        td -0.8%
                        td 1.6%
                        td 3.9%
                        td 6.0%
                    tr
                        td.w-25 醫師固定薪資allocated to PD(月)
                        td 
                        td 10,000
                        td 10,000
                        td 10,000
                        td 10,000
                        td 10,000
                    tr
                        td.w-25 醫師績效獎金(PPF)/(月/人)
                        td 1000
                        td
                            input.form-control(type='text', placeholder='15')
                        td 10,000
                        td 10,000
                        td 10,000
                        td 10,000
                    tr
                        td.w-25 Time allocation to PD(增加%)
                        td 13.0%
                        td -3.4%
                        td -0.8%
                        td 1.6%
                        td 3.9%
                        td 6.0%
                    tr
                        td.w-25 Time allocation to PD(增加%)
                        td 13.0%
                        td -3.4%
                        td -0.8%
                        td 1.6%
                        td 3.9%
                        td 6.0%
                tbody
                    tr
                        td(colspan="7") 護理人員
                    tr
                        td.w-25 PD病人數(Est.)
                        td 35
                        td 50
                        td 65
                        td 80
                        td 95
                        td 110
            .dashhead-subtitle.text-center ® 版權所有 百特醫療產品股份有限公司 - Baxter Taiwan Version 1.0
block bottomScripts
    script.
        $('#step01_finish').click(function() {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
        });
        $('.step01_finish').click(function() {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
        })

