//- page laytout name
extends _layout.pug

block pageInfo
    title Baxter SOS系統 | HD/PD利潤試算
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
block page_main
    .container
        .col-md-12
            .dashhead.mb-1
                .dashhead-titles
                    h6.dashhead-subtitle 投資損益
                    h2.dashhead-title  投資明細
            div.list-group.col-lg-12.mb-3
                h6
                    span.icon.icon-calculator
                    | 投資明細
            div.table-responsive.col-12
                table.table
                    thead
                        tr
                            th(colspan="7")
                                span.text-success 新透析病人淨成長預估
                    tbody
                        tr
                            td &nbsp;
                            td &nbsp;
                            td 第一年
                            td 第二年
                            td 第三年
                            td 第四年
                            td 第五年
            .tab-content
                .row
                    .col-lg-12.mb-4
                        div.list-group.col-lg-12.mb-3
                            h6
                                span.icon.icon-calculator
                                | 投資明細
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.text-success 新透析病人淨成長預估
                        div.list-group-item.list-group-item-action.justify-content-between
                            div.col-lg-4
                            div.col-lg-8
                                div.row
                                    div.col-md-2
                                    div.col-md-2 第一年
                                    div.col-md-2 第二年
                                    div.col-md-2 第三年
                                    div.col-md-2 第四年
                                    div.col-md-2 第五年
                        div.list-group-item.list-group-item-action.justify-content-between
                            div.col-lg-4
                                span 目前人數約
                            div.col-lg-8
                                div.row
                                    div.col-md-2
                                        span 75
                                    div.col-md-2
                                        span 90
                                    div.col-md-2
                                        span 105
                                    div.col-md-2
                                        span 120
                                    div.col-md-2
                                        span 135
                                    div.col-md-2
                                        span 150
                        div.list-group-item.list-group-item-action.justify-content-between
                            div.col-lg-4
                                span 淨成長病人數/年
                            div.col-lg-8
                                div.row
                                    div.col-md-2
                                    div.col-md-2
                                        input.col-md-12.form-control.text-left(type='text', placeholder='11')
                                    div.col-md-2
                                        input.col-md-12.form-control.text-left(type='text', placeholder='11')
                                    div.col-md-2
                                        input.col-md-12.form-control.text-left(type='text', placeholder='11')
                                    div.col-md-2
                                        input.col-md-12.form-control.text-left(type='text', placeholder='11')
                                    div.col-md-2
                                        input.col-md-12.form-control.text-left(type='text', placeholder='11')
                        div.list-group-item.list-group-item-action.justify-content-between
                            div.col-lg-4
                                span 累計淨成長病人數
                            div.col-lg-8
                                div.row
                                    div.col-md-2
                                    div.col-md-2
                                        span 90
                                    div.col-md-2
                                        span 105
                                    div.col-md-2
                                        span 120
                                    div.col-md-2
                                        span 135
                                    div.col-md-2
                                        span 150
                        div.list-group-item.list-group-item-action.justify-content-between
                            div.col-lg-4
                            div.col-lg-8
                                div.row
                                    div.col-md-2 check
                                    div.col-md-2 OK
                                    div.col-md-2 OK
                                    div.col-md-2 OK
                                    div.col-md-2 OK
                                    div.col-md-2 OK
                        div.list-group-item.list-group-item-action.justify-content-between
                            div.col-lg-4
                                span 預估點值(HD)
                            div.col-lg-8
                                div.row
                                    div.col-md-2
                                    div.col-md-2
                                        input.col-md-12.form-control.text-left(type='text', placeholder='11')
                                    div.col-md-2
                                        input.col-md-12.form-control.text-left(type='text', placeholder='11')
                                    div.col-md-2
                                        input.col-md-12.form-control.text-left(type='text', placeholder='11')
                                    div.col-md-2
                                        input.col-md-12.form-control.text-left(type='text', placeholder='11')
                                    div.col-md-2
                                        input.col-md-12.form-control.text-left(type='text', placeholder='11')
                        div.list-group-item.list-group-item-action.justify-content-between
                            div.col-lg-4
                                span 預估點值(PD)
                            div.col-lg-8
                                div.row
                                    div.col-md-2
                                    div.col-md-2
                                        input.col-md-12.form-control.text-left(type='text', placeholder='11')
                                    div.col-md-2
                                        input.col-md-12.form-control.text-left(type='text', placeholder='11')
                                    div.col-md-2
                                        input.col-md-12.form-control.text-left(type='text', placeholder='11')
                                    div.col-md-2
                                        input.col-md-12.form-control.text-left(type='text', placeholder='11')
                                    div.col-md-2
                                        input.col-md-12.form-control.text-left(type='text', placeholder='11')
                    .col-lg-12.mb-4
                        div.list-group.col-lg-12.mb-3
                            h6
                                span.icon.icon-calculator
                                | HD
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.text-success 硬體設備
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.col-md-2
                                span 洗腎機
                            span.text-muted 單價
                                input.col-md-12.form-control.text-left(type='text', placeholder='')
                            span.text-muted 數量
                                input.col-md-12.form-control.text-left(type='text', placeholder='15')
                            span.text-muted 金額
                                input.col-md-12.form-control.text-left(type='text', placeholder='')
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.col-md-2
                                span 床
                            span.text-muted 單價
                                input.col-md-12.form-control.text-left(type='text', placeholder='0.8888')
                            span.text-muted 數量
                                input.col-md-12.form-control.text-left(type='text', placeholder='0.8888')
                            span.text-muted 金額
                                input.col-md-12.form-control.text-left(type='text', placeholder='0.8888')
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.col-md-2
                                span 電視
                            span.text-muted 單價
                                input.col-md-12.form-control.text-left(type='text', placeholder='0.8888')
                            span.text-muted 數量
                                input.col-md-12.form-control.text-left(type='text', placeholder='0.8888')
                            span.text-muted 金額
                                input.col-md-12.form-control.text-left(type='text', placeholder='0.8888')
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.icon.icon-credit.col-md-2
                                span 總價
                            div.col-md-6
                            div.col-md-2
                                span 總計
                            div.col-md-2
                                h4 655,636
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.col-md-2 折舊攤提
                            span.text-muted 年
                                input.col-md-12.form-control.text-left(type='text', placeholder='0.8888')
                            span.col-md-2
                            span.text-muted 每年
                                input.col-md-12.form-control.text-left(type='text', placeholder='0.8888')
                        div.list-group.col-lg-12.mb-3
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.text-success 費用增加部份
                            | 
                            span.text-danger 人力
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.col-md-2
                            span.col-md-2
                            span.col-md-2 年薪/人
                            span.col-md-6 預估增加數量
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.col-md-2
                            span.col-md-2
                            span.col-md-2 (含相關福利)
                            span.col-md-1 第一年
                            span.col-md-1 第二年
                            span.col-md-1 第三年
                            span.col-md-1 第四年
                            span.col-md-1 第五年
                            span.col-md-1
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.text-danger.col-md-2 固定薪資
                            span.col-md-2
                            span.col-md-2 
                            span.col-md-1 
                            span.col-md-1 
                            span.col-md-1 
                            span.col-md-1 
                            span.col-md-1
                            span.col-md-1
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.col-md-2 醫師
                            span.col-md-2
                            span.col-md-2 360000000
                            span.col-md-1 1
                            span.col-md-1 0
                            span.col-md-1 0
                            span.col-md-1 0
                            span.col-md-1 0
                            span.col-md-1
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.col-md-2 護理人員
                            span.col-md-2 100
                            span.col-md-2 360000000
                            span.col-md-1 1
                            span.col-md-1 0
                            span.col-md-1 0
                            span.col-md-1 0
                            span.col-md-1 0
                            span.col-md-1
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.col-md-2 醫工
                            span.col-md-2 
                            span.col-md-2 360000000
                            span.col-md-1
                                input.col-md-12.form-control.text-left(type='text', placeholder='1')
                            span.col-md-1
                                input.col-md-12.form-control.text-left(type='text', placeholder='1')
                            span.col-md-1
                                input.col-md-12.form-control.text-left(type='text', placeholder='1')
                            span.col-md-1
                                input.col-md-12.form-control.text-left(type='text', placeholder='1')
                            span.col-md-1
                                input.col-md-12.form-control.text-left(type='text', placeholder='1')
                            span.col-md-1
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.col-md-2 行政人員
                            span.col-md-2 
                            span.col-md-2 360000000
                            span.col-md-1
                                input.col-md-12.form-control.text-left(type='text', placeholder='1')
                            span.col-md-1
                                input.col-md-12.form-control.text-left(type='text', placeholder='1')
                            span.col-md-1
                                input.col-md-12.form-control.text-left(type='text', placeholder='1')
                            span.col-md-1
                                input.col-md-12.form-control.text-left(type='text', placeholder='1')
                            span.col-md-1
                                input.col-md-12.form-control.text-left(type='text', placeholder='1')
                            span.col-md-1
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.col-md-2 其他
                            span.col-md-2 
                            span.col-md-2
                                input.col-md-12.form-control.text-left(type='text', placeholder='1000000')
                            span.col-md-1
                            span.col-md-1
                            span.col-md-1
                            span.col-md-1
                            span.col-md-1
                            span.col-md-1
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.text-danger.col-md-2 變動薪資(獎金)
                            span.col-md-2
                            span.col-md-2 
                            span.col-md-1 
                            span.col-md-1 
                            span.col-md-1 
                            span.col-md-1 
                            span.col-md-1
                            span.col-md-1
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.col-md-2 醫師
                            span.col-md-2
                            span.col-md-2 250
                            span.col-md-2 /每病人次
                            span.col-md-1 
                            span.col-md-1 
                            span.col-md-1 
                            span.col-md-1
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.col-md-2 護理人員/其他
                            span.col-md-2
                            span.col-md-2 -
                            span.col-md-2 /每病人次
                            span.col-md-1 
                            span.col-md-1 
                            span.col-md-1 
                            span.col-md-1
                        div.list-group.col-lg-12.mb-3
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.text-success 費用增加部份
                            | 
                            span.text-danger 金額
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.col-md-2 
                            span.col-md-2 第一年
                            span.col-md-2 第二年
                            span.col-md-2 第三年
                            span.col-md-2 第四年
                            span.col-md-2 第五年
                        div.list-group-item.list-group-item-action.justify-content-between
                            span.col-md-2.text-danger 固定薪資
                            span.col-md-2 4,88888889
                            span.col-md-2 4,88888889
                            span.col-md-2 4,88888889
                            span.col-md-2 4,88888889
                            span.col-md-2 4,88888889
                            
                .dashhead-subtitle.text-center ® 版權所有 百特醫療產品股份有限公司 - Baxter Taiwan Version 1.0
block bottomScripts
    script.
        $('#step01_finish').click(function() {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
        });
        $('.step01_finish').click(function() {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
        })

