//- page laytout name
extends _layout.pug

block pageInfo
    title Baxter SOS系統 | HD vs. PD投資損益比較
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
block page_main
    div.container
        div.row
            div.col-md-12.mb-3
                div.dashhead.mb-1
                    div.dashhead-titles
                        h6.dashhead-subtitle 
                        h2.dashhead-title  HD 投資損益
        div.row
            div.table-responsive.col-12
                table.table.table-bordered.table-hover
                    thead.table-active
                        tr
                            th.w-25 
                            th
                            th 第一年
                            th 第二年
                            th 第三年
                            th 第四年
                            th 第五年
                    tbody
                        tr
                            td 目前每月病人次
                            td 937
                            td
                            td
                            td
                            td
                            td
                        tr
                            td 淨成長病人數
                            td 女
                            td 15
                            td 15
                            td 15
                            td 15
                            td 15
                        tr
                            td 累計成長病人數
                            td <span class="text-muted"></span>
                            td 15
                            td 30
                            td 45
                            td 60
                            td 75
                        tr
                            td 健保給付點數/病人次
                            td <span class="text-muted"></span>
                            td 3,912
                            td 3,912
                            td 3,912
                            td 3,912
                            td 3,912
                        tr
                            td 預估點值
                            td <span class="text-muted"></span>
                            td 0.8167
                            td 0.8167
                            td 0.8167
                            td 0.8167
                            td 0.8167
                        tr
                            td 病人次/年
                            td 150
                            td 1,125
                            td 3,375
                            td 5,625
                            td 7,875
                            td 10,125
                        tr
                            td 健保給付點數/年
                            td <span class="text-muted"></span>
                            td 4,401,000
                            td 13,203,000
                            td 22,005,000
                            td 30,807,000
                            td 39,609,000
                        tr
                            td 健保給付金額/年
                            td <span class="text-muted"></span>
                            td 3,594,297
                            td 10,782,890
                            td 17,971,484
                            td 25,160,077
                            td 32,348,670
            div.col-md-12
                p.text-success 材料成本
            div.table-responsive.col-12
                table.table.table-bordered.table-hover
                    thead.table-active
                        tr
                            th.w-25 
                            th
                            th 第一年
                            th 第二年
                            th 第三年
                            th 第四年
                            th 第五年
                    tbody
                        tr
                            td 衛材類
                            td <span class="text-muted">533.6</span>
                            td 600,345
                            td 1,801,035
                            td 3,001,725
                            td 4,202,415
                            td 5,403,105
            div.col-md-12
                p.text-success 費用
            div.table-responsive.col-12
                table.table.table-bordered.table-hover
                    thead.table-active
                        
                    tbody
                        tr
                            td.w-25 硬體設備折舊攤提
                            td <span class="text-muted">1,140,000</span>
                            td 1,140,000
                            td 1,140,000
                            td 1,140,000
                            td 1,140,000
                            td 1,140,000
                        tr
                            td.text-right(colspan="7") 5,700,000
                        tr
                            td 人事薪資
                            td <span class="text-muted"></span>
                            td 5,080,500
                            td 7,105,500
                            td 9,130,500
                            td 11,155,500
                            td 13,180,500
                        tr
                            td 固定薪資
                            td <span class="text-muted"></span>
                            td 4,799,250
                            td 6,261,750
                            td 7,724,250
                            td 9,186,750
                            td 10,649,250
                        tr
                            td 變動薪資(獎金)
                            td <span class="text-muted"></span>
                            td 281,250
                            td 843,750
                            td 1,406,250
                            td 1,968,750
                            td 2,531,250
                        tr
                            td 醫師
                            td <span class="text-muted">250</span>
                            td 281,250
                            td 843,750
                            td 1,406,250
                            td 1,968,750
                            td 2,531,250
                        tr
                            td 醫護人員/其他
                            td <span class="text-muted"></span>
                            td -
                            td -
                            td -
                            td -
                            td -
                        tr
                            td 房屋租金
                            td <span class="text-muted">1,848,000</span>
                            td 1,848,000
                            td 1,848,000
                            td 1,848,000
                            td 1,848,000
                            td 1,848,000
                        tr
                            td 營運費用(水,電)
                            td <span class="text-muted">480,000</span>
                            td 480,000
                            td 480,000
                            td 480,000
                            td 480,000
                            td 480,000
                        tr
                            td 行政管理費用
                            td <span class="text-muted">50</span>
                            td 56,250
                            td 168,750
                            td 281,250
                            td 393,750
                            td 506,250
                        tr
                            td 利息支出
                            td <span class="text-muted"></span>
                            td -
                            td -
                            td -
                            td -
                            td -
                        tr
                            td
                                p.text-success 費用總計
                            td <span class="text-muted"></span>
                            td.text-success 8,604,750
                                p.text-right 239%
                            td.text-success 10,742,250
                                p.text-right 100%
                            td.text-success 12,879,750
                                p.text-right 72%
                            td.text-success 15,017,250
                                p.text-right 60%
                            td.text-success 17,154,750
                                p.text-right 53%
                        tr
                            td
                                p.text-info 利潤
                            td <span class="text-muted"></span>
                            td.text-info
                                span.text-danger (5,831,298)
                                p.text-right -162.2%
                            td.text-info
                                span.text-danger (2,421,895)
                                p.text-right -22.5%
                            td.text-info 987,509
                                p.text-right 5.5%
                            td.text-info 4,396,912
                                p.text-right 17.5%
                            td.text-info 7,806,315
                                p.text-right 24.1%
                        tr
                            td.text-right(colspan="7") 4,937,543
                        tr
                            td.text-info 累積利潤
                            td <span class="text-muted"></span>
                            td.text-info.text-right 
                                span.text-danger (5,831,298)
                            td.text-info.text-right 
                                span.text-danger (8,253,193)
                            td.text-info.text-right
                                span.text-danger (7,265,685)
                            td.text-info.text-right
                                span.text-danger (2,868,773)
                            td.text-info.text-right 4,937,543
                        tr
                            td 投資回收年
                            td <span class="text-muted"></span>
                            td NIL
                            td NIL
                            td NIL
                            td NIL
                            td NIL
                        tr
                            td.text-info 投資回收利潤
                            td <span class="text-muted"></span>
                            td.text-info NIL
                            td.text-info NIL
                            td.text-info NIL
                            td.text-info NIL
                            td
                                input.col-md-12.form-control(type='text', placeholder='NIL')
                        tr
                            td 資金投入
                            td <span class="text-muted"></span>
                            td(colspan="5") 5,700,000
                        tr
                            td 投資回收利潤
                            td HD
                            td.text-danger (10,391,298)
                            td.text-danger (1,281,895)
                            td 2,127,509
                            td 5,536,912
                            td 8,946,315
                        tr
                            td 
                            td PD
                            td 472,999
                            td 1,155,534
                            td 2,353,199
                            td 2,755,467
                            td 3,961,979
                        tr
                            td.text-info IRR
                            td(colspan="6").text-info 11%
                        tr
                            td.text-info NPV
                            td(colspan="6").text-danger -$740,811
block bottomScripts

