//- page laytout name
extends _layout.pug

block pageInfo
    title Baxter SOS系統 | sos4-4
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
block page_main
    .container
        .col-md-12
            .dashhead.mb-1
                .dashhead-titles
                    h6.dashhead-subtitle sos4-4
                    h2.dashhead-title  sos4-4
            div.row
                //健保給付
                div.col-lg-12.mb-4
                    div.row
                        ul.list-group.col-lg-12
                            li.list-group-header.text-success List group header
                            li.list-group-item.justify-content-between
                                span 1dssfdf
                                span 200000000000
                                span 3
                            li.list-group-item.justify-content-between
                                span 1
                                span 2000
                                span 
                        ul.list-group.col-lg-12
                            li.list-group-item.justify-content-between.text-success 
                                span 
                                span PD
                                span HD
                                span 
                            li.list-group-item.justify-content-between
                                span 1dssfdf
                                span 200000000000
                                span 3
                                span XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                            li.list-group-item.justify-content-between
                                span 1
                                span 2000
                                span
                                span 
                        //- div.list-group.col-lg-4.mb-3
                        //-     div.list-group-item.list-group-item-action.justify-content-between
                        //-         small.delta-indicator.text-success
                        //-             span.icon.icon-shopping-bag
                        //-             | 追蹤處置費
                        //-     div.list-group-item.list-group-item-action.justify-content-between
                        //-         | 醫護人員費
                        //-         span.text-muted -
                        //-     div.list-group-item.list-group-item-action.justify-content-between
                        //-         | 特殊材料費
                        //-         span.text-muted -
                        //-     div.list-group-item.list-group-item-action.justify-content-between
                        //-         span.text-left 醫材耗品費
                        //-         span.text-muted 00000000000000000000000000000
                        //-     div.list-group-item.list-group-item-action.justify-content-between
                        //-         | 檢查費
                        //-         span.text-muted 999
                        //- div.list-group.col-lg-4.mb-3
                        //-     div.list-group-item.list-group-item-action.justify-content-between
                        //-         small.delta-indicator.text-success
                        //-             // <span class="icon icon-drop"></span>
                        //-             span.icon.icon-shopping-bag
                        //-             | 腹膜透析液(incl. Cassette, 租金)
                        //-         small.delta-indicator.text-danger 使用比例
                        //-     div.list-group-item.list-group-item-action.justify-content-between
                        //-         span 人工腎臟－REUSE
                        //-         input.col-md-4.form-control.text-left(type='text', placeholder='0')
                        //-         span 1.5L
                        //- div.list-group.col-lg-4.mb-3
                        //-     div.list-group-item.list-group-item-action.justify-content-between
                        //-         small.delta-indicator.text-success
                        //-             span.icon.icon-shopping-bag
                        //-             | 藥品
                        //-     div.list-group-item.list-group-item-action.justify-content-between
                        //-         | 活性維生素
                        //-         span.text-muted 
                        //-     div.list-group-item.list-group-item-action.justify-content-between
                        //-         | 活性維生素
                        //-         span.text-muted 
                        //-     div.list-group-item.list-group-item-action.justify-content-between
                        //-         | 活性維生素
                        //-         span.text-muted
                        //- div.list-group.col-lg-12.mb-3
                            div.list-group-item.list-group-item-action.justify-content-between.text-success
                                | 健保給付金額總計
                                span.text-danger 39,956                               
            footer
                .dashhead-subtitle.text-center ® 版權所有 百特醫療產品股份有限公司 - Baxter Taiwan Version 1.0
block bottomScripts

