//- page laytout name
extends _layout.pug

block pageInfo
    title Baxter SOS系統 | sos4-4
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
block page_main
    div.container
        div.col-md-12.mb-3
            ul.list-group
                li.list-group-item.justify-content-between
                    span.col-md-4 每年新ESRD病人預估量
                    input.col-md-2.form-control(type='text', placeholder='96%')
                    span.col-md-1.text-danger -9%
                li.list-group-item.justify-content-between
                    span.col-md-4 每年新進入本院透析病人數
                    input.col-md-2.form-control(type='text', placeholder='85%')
                    span.col-md-1.text-danger -13%
                li.list-group-item.justify-content-between
                    span.col-md-4 每年新ESRD病人預估量
                    span.col-md-2 11%
                    span.col-md-1
        div.col-md-12.mb-3   
            ul.list-group
                li.list-group-header.justify-content-between 第一年留院率
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    input.col-md-2.form-control(type='text', placeholder='96%')
                    span.col-md-1.text-danger -9%
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    input.col-md-2.form-control(type='text', placeholder='85%')
                    span.col-md-1.text-danger -13%
                li.list-group-item.justify-content-between
                    span.col-md-4 
                    span.col-md-2 11%
                    span.col-md-1
                li.list-group-header.justify-content-between 第二年留院率
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    input.col-md-2.form-control(type='text', placeholder='96%')
                    span.col-md-1.text-danger -9%
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    input.col-md-2.form-control(type='text', placeholder='85%')
                    span.col-md-1.text-danger -13%
                li.list-group-item.justify-content-between
                    span.col-md-4 
                    span.col-md-2 11%
                    span.col-md-1
                li.list-group-header.justify-content-between 第三年留院率
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    input.col-md-2.form-control(type='text', placeholder='96%')
                    span.col-md-1.text-danger -9%
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    input.col-md-2.form-control(type='text', placeholder='85%')
                    span.col-md-1.text-danger -13%
                li.list-group-item.justify-content-between
                    span.col-md-4 
                    span.col-md-2 11%
                    span.col-md-1
                li.list-group-header.justify-content-between 第四年留院率
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    input.col-md-2.form-control(type='text', placeholder='96%')
                    span.col-md-1.text-danger -9%
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    input.col-md-2.form-control(type='text', placeholder='85%')
                    span.col-md-1.text-danger -13%
                li.list-group-item.justify-content-between
                    span.col-md-4 
                    span.col-md-2 11%
                    span.col-md-1
                li.list-group-header.justify-content-between 第五年留院率
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    input.col-md-2.form-control(type='text', placeholder='96%')
                    span.col-md-1.text-danger -9%
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    input.col-md-2.form-control(type='text', placeholder='85%')
                    span.col-md-1.text-danger -13%
                li.list-group-item.justify-content-between
                    span.col-md-4 
                    span.col-md-2 11%
                    span.col-md-1
        div.col-md-12.mb-3   
            ul.list-group
                li.list-group-header.justify-content-between 第一年病人留院數
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    span.col-md-2 29
                    span.col-md-1.text-danger
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    span.col-md-2 102
                    span.col-md-1.text-danger
                li.list-group-header.justify-content-between 第二年病人留院數
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    span.col-md-2 29
                    span.col-md-1.text-danger
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    span.col-md-2 102
                    span.col-md-1.text-danger
                li.list-group-header.justify-content-between 第三年病人留院數
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    span.col-md-2 29
                    span.col-md-1.text-danger
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    span.col-md-2 102
                    span.col-md-1.text-danger
                li.list-group-header.justify-content-between 第四年病人留院數
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    span.col-md-2 29
                    span.col-md-1.text-danger
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    span.col-md-2 102
                    span.col-md-1.text-danger
                li.list-group-header.justify-content-between 第五年病人留院數
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    span.col-md-2 29
                    span.col-md-1.text-danger
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    span.col-md-2 102
                    span.col-md-1.text-danger
        div.col-md-12.mb-3   
            ul.list-group
                li.list-group-header.justify-content-between 第一年透析利潤
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    span.col-md-2 $2,546,283.07
                    span.col-md-1.text-danger
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    span.col-md-2 $6,219,478.40
                    span.col-md-1.text-danger
                li.list-group-header.justify-content-between 第二年透析利潤
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    span.col-md-2 $2,546,283.07
                    span.col-md-1.text-danger
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    span.col-md-2 $6,219,478.40
                    span.col-md-1.text-danger
                li.list-group-header.justify-content-between 第三年透析利潤
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    span.col-md-2 $2,546,283.07
                    span.col-md-1.text-danger
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    span.col-md-2 $6,219,478.40
                    span.col-md-1.text-danger
                li.list-group-header.justify-content-between 第四年透析利潤
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    span.col-md-2 $2,546,283.07
                    span.col-md-1.text-danger
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    span.col-md-2 $6,219,478.40
                    span.col-md-1.text-danger
                li.list-group-header.justify-content-between 第五年透析利潤
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    span.col-md-2 $2,546,283.07
                    span.col-md-1.text-danger
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    span.col-md-2 $6,219,478.40
                    span.col-md-1.text-danger
        div.col-md-12.mb-3 
            ul.list-group
                li.list-group-header.justify-content-between 五年總利潤
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    span.col-md-2.text-danger $2,546,283.07
                    span.col-md-1.text-danger 
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    span.col-md-2.text-danger $6,219,478.40
                    span.col-md-1.text-danger
        div.col-md-12.mb-3
            ul.list-group
                li.list-group-header.justify-content-between 五年總利潤/病人
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success PD
                    span.col-md-2.text-danger $2,546,283.07
                    span.col-md-1.text-danger
                li.list-group-item.justify-content-between 
                    span.col-md-4.text-success HD
                    span.col-md-2.text-danger $6,219,478.40
                    span.col-md-1.text-danger
            //- ul.list-group
            //-     li.list-group-item.justify-content-between
            //-         div.col-md-12
            //-             div.row.mb-2
            //-                 div.col-md-3
            //-                     p 每年新ESRD病人預估量
            //-                 div.col-md-3
            //-                     input.col-md-12.form-control(type='text', placeholder='200')
            //-             div.row.mb-2
            //-                 div.col-md-3
            //-                     p 每年新進入本院透析病人數
            //-                 div.col-md-3
            //-                     input.col-md-12.form-control(type='text', placeholder='150')
            //-             div.row
            //-                 div.col-md-3
            //-                     p 每年新ESRD病人預估量
            //-                 div.col-md-3.mb-2
            //-                     input.col-md-12.form-control(type='text', placeholder='30')
            //-                 div.col-md-3
            //-                     p 120
        //- div.col-md-12
        //-     div.row.mb-3
        //-         div.col-md-3
        //-         div.col-md-3 
        //-             P.text-success PD
        //-         div.col-md-3 
        //-             P.text-success HD
        //-     div.row.mb-3
        //-         div.col-md-3.mb-2
        //-             p 第一年留院率
        //-         div.col-md-3.mb-2 
        //-             input.col-md-12.form-control(type='text', placeholder='96%')
        //-         div.col-md-3.mb-2 
        //-             input.col-md-12.form-control(type='text', placeholder='85%')
        //-         div.col-md-3.mb-2 
        //-             p 11%
        //-         div.col-md-3.mb-2
        //-         div.col-md-3.mb-2
        //-             p.text-danger -9%
        //-         div.col-md-3.mb-2
        //-             p.text-danger -13%
block bottomScripts

