//- page laytout name
extends _layout.pug

//- page html
block page_main
    section.index
        div.kv(v-on:click="popupOpen=true")
        div
            ul
                li
                li
                li
                li
                li
        div.popup(v-show="popupOpen" v-cloak)
            div.popup__mask
            div.popup__content
                // 獎品剩餘列表
                div.awardList(style="display:none")
                    div.awardList__hd
                        h3.title 獎品獎品獎品獎
                    div.awardList__bd
                        div.list
                            ul.list__header.clearfix
                                li 獎品
                                li 數量
                                li 中獎機率
                            div.list-wrap
                                ul.list__item.clearfix(v-for="value in noitems").isOver
                                    li.col {{value.gifts}}
                                    li.col {{value.quantity}}
                                    li.col {{value.change}}
                                ul.list__item.clearfix(v-for="value in items")
                                    li.col {{value.gifts}}
                                    li.col {{value.quantity}}
                                    li.col {{value.change}}
                    div.awardList-btn
                //- button(v-on:click="popupOpen=false") closePopup()
                // 獎品兌換完畢
                div.noAward
                    div.noAward-btn
                // 刮刮樂
                // 隱私權條款
                div.register
                    div.register-btn
                    h2.register__title 隱私權條款
                    div.register__content
                        div.register__rule
                            p 於Sharelike的服務於Sharelike的服務於Sharelike的服務於Sharelike的服務於Sharelike的服務
                            ul
                                li 於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share
                                li 於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share
                            ol
                                li 於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share
                                li 於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share
                    div.register__btnarea
                        a(href="javascript:").register__submit 註冊
                        a(href="javascript:").register__cancel 取消
                // custom
                div.block4
                    div.block4-btn
        div.popup__bg(style="display:none")
            div.popup__nogift
                div.popup__nogift--x
            div.popup__list
                ul.popup__list__title
                    li 獎品
                    li 數量
                    li 中獎機率
                div.popup__list__content
                    ul.popup__list__item
                        li(v-for="value in noitems").no
                            div {{value.gifts}}
                            div {{value.quantity}}
                            div {{value.change}}
                        li(v-for="value in items").yes
                            div {{value.gifts}}
                            div {{value.quantity}}
                            div {{value.change}}
                div.popup__list--x
                //div.popup__list--stmp
            
            
block bottomScripts
    script(src="../js/app-dev.js")

