//- page laytout name
extends _layout.pug

//- page html
block page_main
    section.index
        div.kv
        div.popup__bg
            div.popup__nogift
                div.popup__nogift--x
            div.popup__list
                ul.popup__list__title
                    li 獎品
                    li 數量
                    li 中獎機率
                div.popup__list__content
                    ul.popup__list__item
                        v-for
                            li.no
                            li.no
                        v-for
                            li.yes
                            li.yes
                div.popup__list--x
                div.popup__list--stmp
            div.popup__register
                div.popup__register--x
                h2.popup__register__title 隱私權條款
                div.popup__register__content
                    div.popup__register__rule
                        p 於Sharelike的服務於Sharelike的服務於Sharelike的服務於Sharelike的服務於Sharelike的服務
                        ul
                            li 於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share
                            li 於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share
                        ol
                            li 於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share
                            li 於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share於Sharelike的服務於Sharelike的服務於Share
                div.popup__register__btnarea
                    a(href="javascript:").popup__register__submit 註冊
                    a(href="javascript:").popup__register__cancel 取消
            div.popup__block4
                div.popup__block4--x
block bottomScripts
    script(src="../js/app.js")

