//- page laytout name
extends _layout.pug

//- page html
block page_main
    section.kv
    section.s2
        div.demoList
            p.listpos {{listPosition}}
            div.demoList__row.clearfix
                - for (var x = 0; x < 10; x++)
                    div.col
                        span=x
    section.s3
block bottomScripts
    script(src="../js/scroll-list.js")        

