@charset 'UTF-8';

/* ----- IMPORT -----*/

//1.utils
@import "utils/_bemify.scss"; 
    //A set of Sass mixins to write well-structured, maintainable, idiomatic BEM-style .scss source:
@import "utils/_variables.scss";
@import "utils/_mixins.scss";
@import "utils/_grid.scss";
//sprite scss import 至少要啟用gulp一次
//@import "_sprite.scss";
//2.vendors
//3.base
@import "base/_reset.scss";
@import "base/_typography.scss";
//4.layout
@import "layout/_layout.scss";
@import "layout/_nav.scss";
@import "layout/_zlayer.scss";
//5.components
@import "components/_load.scss";
//html 在 load.js 裡
//6.pages
//7.themes

.z { z-index: z("modal")}
.z_hd { z-index: index($elements, hd); }
.z_bd { z-index: index($elements, bd); }
.z_ft { z-index: index($elements, ft); }

.modal {
    z-index: z("modal");
}

$tran:0.3s ease-in all;
$boxShadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);

.sample {
    .l-vm {
        height: 180px;
        width: 100%;
        background: #d6d6d6;
        text-align: center;
        box-shadow: $boxShadow;
    }
    .l-vm__content {
        background: red;
        min-height: 100px;
    }
    @include respond-to(small-up) {}
    section ,h2, h3{
        margin: 0 0 20px;
        span {
            color: red;
        }
    }
    @for $i from 1 through 3 {
        .row#{$i} {
            color: red;
        } 
    }
}

.index {
    // background: url(../images/index_kv.jpg) center top no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;
    .popup {
        &__bg {
            background: rgba(0, 0, 0, 0.7);
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
        &__nogift {
            background: url(../images/bg-sorry.png) 0 0 no-repeat;
            background-size: auto 100%;
            width: vw(241);
            height: vw(319);
            position: absolute;
            top: 50%;
            left: 50%;
            margin: vw(-160) 0 0 vw(-120);
            display: none;
            &--x {
                background: url(../images/btn-x.png) 0 0 no-repeat;
                background-size: auto 100%;
                cursor: pointer;
                width: vw(22);
                height: vw(22);
                position: absolute;
                top: vw(30);
                right: vw(-30);
            }
        }
        &__list {
            background: url(../images/bg-list.png) 0 0 no-repeat;
            background-size: auto 100%;
            width: vw(300);
            height: vw(275);
            position: absolute;
            top: 50%;
            left: 50%;
            margin: vw(-137) 0 0 vw(-150);
            display: none;
            &--x {
                background: url(../images/btn-x.png) 0 0 no-repeat;
                background-size: auto 100%;
                cursor: pointer;
                width: vw(22);
                height: vw(22);
                position: absolute;
                top: vw(-30);
                right: vw(-60);
            }
            &--stmp {
                background: url(../images/stmp-pic-1.png) 0 0 no-repeat;
                background-size: auto 100%;
                width: vw(45);
                height: vw(43);
                position: absolute;
                top: 0;
                left: 0;
            }
            &__content {
                width: vw(290);
                height: vw(180);
                overflow-y: auto;
            }
            &__title {
                width: vw(250);
                margin: vw(55) auto 0;
                li {
                    display: inline-block;
                    font-size: vw(16);
                    text-align: center;
                    &:nth-child(1) {
                        width: vw(80);
                    }
                    &:nth-child(2) {
                        width: vw(70);
                    }
                    &:nth-child(3) {
                        width: vw(80);
                    }
                }
            }
        }
        &__register {
            background: url(../images/bg-register.png) 0 0 no-repeat;
            background-size: auto 100%;
            width: vw(300);
            height: vw(294);
            position: absolute;
            top: 50%;
            left: 50%;
            margin: vw(-147) 0 0 vw(-150);
            //display: none;
            &--x {
                background: url(../images/btn-x.png) 0 0 no-repeat;
                background-size: auto 100%;
                cursor: pointer;
                width: vw(22);
                height: vw(22);
                position: absolute;
                top: vw(0);
                right: vw(-60);
            }
            &__title {
                color: #666;
                font-weight: 600;
                letter-spacing: 1.2px;
                text-align: center;
                margin: vw(5) auto 0;
            }
            &__content {
                color: #666;
                margin: vw(30) auto 0;
                overflow-y: auto;
                width: vw(260);
                height: vw(186);
            }
            ul {
                li {
                    font-size: vw(12);
                    line-height: 1.2;
                    list-style-type: disc;
                    margin-left: vw(15);
                }
            }
            ol {
                li {
                    font-size: vw(12);
                    line-height: 1.2;
                    list-style-type: decimal;
                    margin-left: vw(15);
                }
            }
            &__btnarea {
                text-align: center;
                margin-top: vw(10);
            }
            &__submit {
                background: #fff;
                border: 3px solid #c32a31;
                border-radius: vw(15);
                font-size: vw(14);
                font-weight: bold;
                color: #c32a31;
                display: inline-block;
                width: vw(70);
                height: vw(30);
                text-align: center;
                line-height: vw(30);
                margin: 0 vw(5);
            }
            &__cancel {
                background: #fff;
                border: 3px solid #aaa;
                border-radius: vw(15);
                font-size: vw(14);
                font-weight: bold;
                color: #aaa;
                display: inline-block;
                width: vw(70);
                height: vw(30);
                text-align: center;
                line-height: vw(30);
                margin: 0 vw(5);
            }
        }
        &__block4 {
            background: url(../images/bg-block4.png) 0 0 no-repeat;
            background-size: auto 100%;
            width: vw(300);
            height: vw(364);
            position: absolute;
            top: 50%;
            left: 50%;
            margin: vw(-182) 0 0 vw(-150);
            display: none;
            &--x {
                background: url(../images/btn-x.png) 0 0 no-repeat;
                background-size: auto 100%;
                cursor: pointer;
                width: vw(22);
                height: vw(22);
                position: absolute;
                top: vw(30);
                right: vw(-30);
            }
        }
    }
}

.kv {
    position: relative;
    background: url(../images/index_kv.jpg) center bottom no-repeat;
    background-size: auto 100%;
    width: 100%;
    height: 100%;
}
/*===============================
=            william            =
===============================*/
button {
    padding: vw(5);
    height: vw(30);
    font-size: vw(10)
}

.coupon {
    &--type1 {
        background: url(../images/coupon_type1.png) center center no-repeat;
        background-size: 100% auto;
        width: vw(750);
        height: vw(300);
        position: relative;
    }
    &__award {
        background: #000;
        width: vw(234);
        height: vw(263);
        position: absolute;
        left: vw(14);
        top: vw(14);        
    }
    &__cover {
        width: vw(234);
        height: vw(263);
        position: absolute;
        left: vw(14);
        top: vw(14);  
    }
}


.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    &__bg {
        background: rgba(0,0,0,0.5);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    &__content {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-y: scroll;
    }
    &__mask {
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .l-vm {
        //使用的時後，請給l-vm層定義高度
        height: 100vh;
        text-align: center;
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            width: 0;
            vertical-align: middle;
        }
        &__content {
            display: inline-block;
            vertical-align: middle;
            padding-left: -0.07em;
        }
    }
}
/*=====  End of william  ======*/